.c-topbar {
  background: var(--color-primary);
  color: #fff;
  font-size: 0.875rem;
  padding: 0.3rem 1rem;

  &__inner {
    display: flex;
    justify-content: flex-end;
    gap: 1.5rem;
    align-items: center;
    flex-wrap: wrap;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 0.4rem;

    &--phone .c-topbar__icon {
      fill: #fff;
    }

    &--mail .c-topbar__icon {
      fill: #fff;
    }
  }

  &__link {
    color: inherit;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  &__icon {
    width: 1rem;
    height: 1rem;
    vertical-align: middle;
  }
}