// ======================================================
// content-elements/_ce-accordion.scss
// Platzhalter für Akkordeons
// ======================================================

.accordion {
  // später spezifisches Styling hier
}