// ======================================================
// content-elements/_textmedia.scss
// Platzhalter für Text/Bild-Elemente
// ======================================================

.textmedia {
  // später spezifisches Styling hier
}