// ======================================================
// content-elements/_index.scss
// Typo3 Content Elements (Text, Accordion etc.)
// ======================================================

@forward 'ce-textmedia';
@forward 'ce-accordion';