services:
  _defaults:
    autowire: true
    autoconfigure: true
    public: false

  ########################################################
  # TypoScript Include
  ########################################################
  jssitepackage.typoscript:
    class: TYPO3\CMS\Core\Configuration\TypoScript\IncludeStaticFileConfigurator
    arguments:
      $extensionKey: 'jssitepackage'
      $path: 'Configuration/TypoScript'
      $title: 'JS Sitepackage'
    tags:
      - name: 'typo3.typoscript.includeStaticFile'

  ########################################################
  # PageTSconfig Include (BackendLayouts, TCEFORM etc.)
  ########################################################
  jssitepackage.pageTsconfig:
    class: TYPO3\CMS\Core\Configuration\PageTsConfig\PageTsConfigLoader
    arguments:
      $extensionKey: 'jssitepackage'
      $path: 'Configuration/TsConfig/Page/page.tsconfig'
    tags:
      - name: 'typo3.pageTsConfig'

  ########################################################
  # UserTSconfig Includes (User + Admin Varianten)
  ########################################################
  jssitepackage.userTsconfig.default:
    class: TYPO3\CMS\Core\Configuration\UserTsConfig\UserTsConfigLoader
    arguments:
      $extensionKey: 'jssitepackage'
      $path: 'Configuration/TsConfig/User/User.tsconfig'
    tags:
      - name: 'typo3.userTsConfig'

  jssitepackage.userTsconfig.admin:
    class: TYPO3\CMS\Core\Configuration\UserTsConfig\UserTsConfigLoader
    arguments:
      $extensionKey: 'jssitepackage'
      $path: 'Configuration/TsConfig/User/Admin.tsconfig'
    tags:
      - name: 'typo3.userTsConfig'

  ########################################################
  # RTE Preset
  ########################################################
  jssitepackage.rte:
    class: TYPO3\CMS\Core\Configuration\RtePreset\RtePresetRegistry
    arguments:
      $extensionKey: 'jssitepackage'
      $path: 'Configuration/RTE/Default.yaml'
      $presetName: 'jssitepackage'
    tags:
      - name: 'typo3.rtePreset'
